img[alt=logo]{ 
    border-radius: 10px;
}
.app-name-link{
    display:inline-block;
    width: 60px;
    height:60px;
    border-radius: 10px;
    overflow:hidden;
}
.app-name-link > img{
    width:100%;
    height:100%;
}

/* 导航页样式 */
.leon-home{
    width: 980px;
    margin:0 auto;
    margin-top:100px;
}
.leon-nav-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.leon-nav-list-item{
    margin:0;
}
.leon-nav-list-item_one{
    grid-row-start: 1;
    grid-column-start: 2;
}
.leon-nav-list-item .p-title{
    margin:0;
    padding:0;
}

.leon-nav-list-item .p-link{
    display:block;
    border-radius: 10px;
    padding:10px 0;
    transition: all 0.3s;
    background:rgb(254, 183, 25, 0.3);
}
.leon-nav-list-item .p-link:hover{
    background:rgba(254, 183, 25, 0.7);
}

/* 前景样式 */

.cover{
    background:linear-gradient(to left bottom, hsl(82, 100%, 85%) 0%,hsl(28, 100%, 85%) 100%);
}

